<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.genesis.genesisexamsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GenesisExamSystem"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,MissingClass">
        <activity android:name="com.genesis.genesisexamsystem.question.SingleQuestionActivity"></activity>
        <activity android:name="com.genesis.genesisexamsystem.question.PreeQuestionActivity" />
        <activity
            android:name="com.genesis.genesisexamsystem.question.QuestionInOnePageActivity"
            android:theme="@style/AppTheme.NoActionBarTheme" />
        <activity
            android:name="com.genesis.genesisexamsystem.credential.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBarTheme" />
        <activity
            android:name="com.genesis.genesisexamsystem.credential.LoginActivity"
            android:theme="@style/AppTheme.NoActionBarTheme" />
        <activity
            android:name="com.genesis.genesisexamsystem.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBarTheme" />
        <activity android:name="com.genesis.genesisexamsystem.MainActivity" />
        <activity android:name="com.genesis.genesisexamsystem.answer.CorrectAnswerActivity" />
        <activity android:name="com.genesis.genesisexamsystem.Result.ResultActivity" />
        <activity android:name="com.genesis.genesisexamsystem.question.QuestionActivity" />
        <activity android:name="com.genesis.genesisexamsystem.exam.ExamActivity" />
        <activity android:name="com.genesis.genesisexamsystem.course.CourseActivity" />
        <activity
            android:name="com.genesis.genesisexamsystem.SplashActivity"
            android:theme="@style/AppTheme.NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>